transfer/src/main/resources/META-INF/additional-spring-configuration-metadata.json
.vscode/
*.shaccount-service/src/main/resources/application.yml
eureka-server/src/main/resources/application.yml
transfer-service/src/main/resources/application.yml
api-gateway/src/main/resources/application.yml
